<!-- This is a HTML stub for the edit task Form rendered by editTask.ftl - any changes to the real template need to be reflected here. -->

<form id="createTask" name="createTask" class="aui">

    <input type="hidden" name="bcpd_config_product" value="" id="bcpd_config_product" data-product-name="" data-supports-websudo="true">

    <input type="text" name="bcpd_config_baseUrl" value="" id="bcpd_config_baseUrl" class="text">

    <input type="submit" name="bcpd_config_credentials" value="Edit Credentials" class="aui-button" id="bcpd_config_credentials">

    <input type="hidden" name="bcpd_config_username" value="" id="bcpd_config_username">
    <input type="hidden" name="bcpd_config_usePasswordVariable" value="false" id="bcpd_config_usePasswordVariable">
    <input type="hidden" name="bcpd_config_password" value="" id="bcpd_config_password">
    <input type="hidden" name="bcpd_config_passwordVariable" value="" id="bcpd_config_passwordVariable">
    <input type="hidden" name="bcpd_config_useAtlassianId" value="" id="bcpd_config_useAtlassianId">
    <input type="hidden" name="bcpd_config_atlassianIdBaseURL" value="" id="bcpd_config_atlassianIdBaseURL">
    <input type="hidden" name="bcpd_config_atlassianIdUsername" value="" id="bcpd_config_atlassianIdUsername">
    <input type="hidden" name="bcpd_config_atlassianIdPassword" value="" id="bcpd_config_atlassianIdPassword">
    <input type="hidden" name="bcpd_config_useAtlassianIdPasswordVariable" value="" id="bcpd_config_useAtlassianIdPasswordVariable">
    <input type="hidden" name="bcpd_config_atlassianIdPasswordVariable" value="" id="bcpd_config_atlassianIdPasswordVariable">
    <input type="hidden" name="bcpd_config_useAtlassianIdWebSudo" value="" id="bcpd_config_useAtlassianIdWebSudo">
    <input type="hidden" name="bcpd_config_atlassianIdAppName" value="" id="bcpd_config_atlassianIdAppName">
</form>
